::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://webassets.job.com/home_hero_v2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  padding: 0 20px;
}

h1,
em {
  text-shadow: honeydew 5px 5px 10px;

  color: rgb(0, 36, 0);
}

h1 {
  text-align: center;
}

form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: honeydew;
  padding: 20px;
  box-shadow: rgb(97, 97, 97) 1px 1px 10px;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form input,
form select,
form option {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

button,
#entities-container div {
  height: 50px;
  background-color: rgba(207, 207, 207, 0.877);
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: rgb(63, 63, 63);
  text-shadow: rgb(97, 97, 97) 5px 5px 10px;
  box-shadow: rgb(97, 97, 97) 1px 1px 10px;
  transition: 0.5s;
}

#entities-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

button:hover {
  color: rgba(207, 207, 207, 0.877);
  background-color: rgb(63, 63, 63);
  border-radius: 50%;
}

#job-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0;
  justify-content: space-between;
}

#job-container div {
  flex-grow: 1;
  margin: 1px;
}

#job-container button {
  width: 100%;
}

a {
  text-decoration-line: none;
}

a.nav-link {
  color: rgb(0, 36, 0);
  padding: 10px;
  background-color: rgba(240, 255, 240, 0.9);
  transition: 0.5s;
}

a:hover {
  color: rgba(240, 255, 240);
  background-color: rgb(0, 36, 0);
  border-radius: 50%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: honeydew;
  box-shadow: rgb(97, 97, 97) 1px 1px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
